body {background-color: #b7d4d6}
h1 { font-family: Palatino}
h2 {font-family: Palatino}
h3 {font-family: Palatino}
p {font-family: Marker Felt}
ul {list-style: none}
a:link { lighting-color: 090808 }
a:link {text-decoration: none}
a:hover {color: green;}